section.step {
    width: 715px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    border: 1px solid #c4c4c4;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 35px auto 0 auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
.fg-bgc {
    background-color: #f7cc52;
}

h1.cover {
    font-size: 2rem;
    overflow: hidden;

}
h1 span.h1-text {
    min-width: 220px;
    float: left;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px 0 0 20px;
}
h1 span.h1-corner {
    float: left;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 4px solid #f7cc52;
    border-bottom: 28px solid #f7cc52;
    border-right: 28px solid transparent;
}

figure.me {
    height: 174px;
    width: 125px;
    margin-left: 16px;
    margin-top: 20px;
    padding: 5px;
    outline: 1px solid #c7c7c7;
    background-image: url("../img/ps.jpg");
    background-size: contain;
}

section.persnal-info li .label {
    color: #fff;
    float: left;
    padding: 4px 7px;
    font-weight: bold;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

section.personal-info li .text {
    float: right;
    width: 170px;
    color: #757070;
    font-size: 15px;
    font-weight: bold;
    padding-top: 3px;
}

section.profile_container section.aboutme {
    margin: 0 340px 0 240px;
    min-height: 270px;
}
section.aboutme hgroup {
    line-height: 1.5;
}
section.aboutme hgroup h2 {
    color: #5e5e5e;
}
section.aboutme p {
    line-height: 1.4;
}
.f30 {
    font-size: 30px;
}
.f20 {
    font-size: 20px;
}